.doctor-row-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .doctor-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;

    .doctor-row-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .doctor-row-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .doctor-row-name {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .doctor-row-fee {
        font-size: 1rem;
        color: gray;
      }

      .doctor-row-visit-fee {
        font-size: 1rem;
        color: gray;
      }
    }
  }
}
