:root {
  --primary-color: #4caf50;
  --color-text: #111;
  --primary-button-color: #4caf50;
  --primary-button-hover-color: #45a049;
  --color-button-text: #fff;
  --secondary-button-color: #f44336;
  --secondary-button-hover-color: #da190b;
}
